<!DOCTYPE html>
<html lang="en">
<head>
  <title>Web Scraping Kumparan</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">Logo</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/kumparan-trends">Kumparan Trends</a>
    </li>
  </ul>
</nav>

<div class="container-fluid" style="margin-top:25px; text-align=center">
    {%for title in titles%}
        <a href="https://kumparan.com{{title.find('a')['href']|safe}}">{{title.find('a').find('span').text|safe}}</a> <br/><br/>
    {%endfor%}
</div>

</body>
</html>